In [30]:
import GetOldTweets3 as got
import pandas as pd
import itertools
import datetime
import time

## Custom functions

In [98]:
def time_print(time_secs):
    d = datetime.datetime(1,1,1) + datetime.timedelta(seconds = time_secs)
    date_str = "{}{}{}{}".format(str(d.day-1)+" days, " if d.day>1 else "",
                                str(d.hour)+" hours, " if d.hour>0 else "",
                                str(d.minute)+" min, " if d.minute>0 else "",
                                str(d.second)+" secs")
    return date_str

def keywords_prep_sent(activity_words,product_words,n):
    with open('sentiment_words.txt', 'w') as f:
        for item in activity_words:
            f.write("%s\n" % item)
        for item in product_words:
            f.write("%s\n" % item)
    '''
    # Only used with the product frequency part
    with open('activity_words.txt', 'w') as f:
        for item in activity_words:
            f.write("%s\n" % item)

    with open('product_words.txt', 'w') as f:
        for item in product_words:
            f.write("%s\n" % item)
    '''     
    # Behavior words are all permutations of activity and product words
    bwords = list(map(" ".join, itertools.product(activity_words,product_words)))

    print("Number of activity words: {}".format(len(activity_words)))
    print("Number of product words: {}".format(len(product_words)))
    print("Number of permutations: {}".format(len(bwords)))
    print("Number of rows to be pulled: {}".format(len(bwords)*n) 
          if n>0
          else "All possible tweets for each keyword will be pulled")
    return bwords

def keywords_prep_beha(behaviour_list,n):
    with open('behaviour_words.txt', 'w') as f:
        for item in behaviour_list:
            for i in item:
                f.write("%s\n" % i)

    bwords = []
    for item in behaviour_list:
        activity = item.pop(0)
        for i in item:
            bwords.append(activity + " " + i)

    print("Number of permutations: {}".format(len(bwords)))
    print("Number of rows to be pulled: {}".format(len(bwords)*n) 
          if n>0
          else "All possible tweets for each keyword will be pulled")
    return bwords

## GetOldTweets3 enabler function

In [32]:
def get_tweets(query, top_only, start_date, end_date, max_tweets):
   
    # specifying tweet search criteria
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(query)\
                                                .setTopTweets(top_only)\
                                                .setSince(start_date)\
                                                .setUntil(end_date)\
                                                .setMaxTweets(max_tweets)
    
    # scraping tweets based on criteria
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    # creating list of tweets with the tweet attributes specified in the list comprehension
    text_tweets = [[tw.text,
                    tw.date,
                    tw.retweets,
                    tw.favorites,
                    tw.mentions,
                    tw.hashtags] for tw in tweet]
    
    # creating dataframe, assigning column names to list of tweets corresponding to tweet attributes
    tweets_df = pd.DataFrame(text_tweets, 
                            columns = ['Text','Date','Retweets','Favorites','Mentions','HashTags'])
    
    return tweets_df

## Scraper function for custom words

In [74]:
def custom_scraper(behaviour_words,fixedk,limit_keyword):
    tweets_temp = pd.DataFrame(columns = ['Text','Date','Retweets','Favorites','Mentions','HashTags'])
    total_loop_time = 0
    avg_loop_time = 0
    len_behaviour_words = len(behaviour_words)
    for i,word in enumerate(behaviour_words):
        start = time.time()

        custom_query = " ".join(fixedk)+" "+word
        tweet_out = get_tweets(custom_query,
                                top_only = False,
                                start_date = "2020-04-01",
                                end_date = "2020-08-01",
                                max_tweets = limit_keyword)
        tweets_temp = tweets_temp.append(tweet_out, ignore_index=True)

        end = time.time()
        total_loop_time += end-start
        avg_loop_time = total_loop_time/(i+1)
        time_left = (avg_loop_time) * (len_behaviour_words-i)

        out1 = "{} in {}: Query \"{}\" ({:.2f} secs) (Rows: {})".format(i,len_behaviour_words,custom_query,
                                                                        (end-start),len(tweet_out))
        out2 = "ETA: {}".format(time_print(time_left))
        print("{:<80s}{:<35s}".format(out1,out2))

    print("\nTotal query time: {}".format(time_print(total_loop_time)))
    return tweets_temp

##  Basic scrape code (not in use)

In [ ]:
# Between a specific range of dates, with end date not inclusive
# And specifying that we want a max number of tweets in max_tweets.

# The main query word goes here, case insensitive
query = "lockdown"
tweets_df = get_tweets(query,
                        top_only = False,
                        start_date = "2020-04-01",
                        end_date = "2020-08-01",
                        max_tweets = 100000)
tweets_df.head(5)

## Pulling for Part 1 - Sentiment analysis

In [102]:
activity_words = ["bought","purchased","thinking of","looking for",
"thinking about","want to buy","recommend","suggest","think of","ordered"]

product_words = ["iphone","samsung galaxy","nokia","redmi","xiaomi",
                "oppo","realme","vivo","oneplus","huawei","honor","motorola"]

# Tweets for each behaviour words, <1 means all possible tweets
tweets_per_keyword = 0

sentiment_words = keywords_prep_sent(activity_words,product_words,tweets_per_keyword)
sentiment_words[:5]

Number of activity words: 10
Number of product words: 12
Number of permutations: 120
All possible tweets for each keyword will be pulled

['bought iphone',
 'bought samsung galaxy',
 'bought nokia',
 'bought redmi',
 'bought xiaomi']

In [107]:
fixed_key = ["lockdown"]
tweets_sentiment = custom_scraper(sentiment_words,fixed_key,tweets_per_keyword)

0 in 120: Query "lockdown bought iphone" (16.75 secs) (Rows: 125)               ETA: 33 min, 30 secs
1 in 120: Query "lockdown bought samsung galaxy" (3.39 secs) (Rows: 8)          ETA: 19 min, 58 secs
2 in 120: Query "lockdown bought nokia" (4.60 secs) (Rows: 17)                  ETA: 16 min, 12 secs
3 in 120: Query "lockdown bought redmi" (5.02 secs) (Rows: 24)                  ETA: 14 min, 30 secs
4 in 120: Query "lockdown bought xiaomi" (3.17 secs) (Rows: 19)                 ETA: 12 min, 43 secs
5 in 120: Query "lockdown bought oppo" (3.24 secs) (Rows: 6)                    ETA: 11 min, 33 secs
6 in 120: Query "lockdown bought realme" (6.38 secs) (Rows: 32)                 ETA: 11 min, 32 secs
7 in 120: Query "lockdown bought vivo" (2.85 secs) (Rows: 8)                    ETA: 10 min, 41 secs
8 in 120: Query "lockdown bought oneplus" (6.20 secs) (Rows: 40)                ETA: 10 min, 42 secs
9 in 120: Query "lockdown bought huawei" (2.56 secs) (Rows: 6)                  ETA: 10 min, 1 secs
10 in 120: Query "lockdown bought honor" (2.89 secs) (Rows: 7)                  ETA: 9 min, 30 secs
11 in 120: Query "lockdown bought motorola" (1.34 secs) (Rows: 0)               ETA: 8 min, 50 secs
12 in 120: Query "lockdown purchased iphone" (8.74 secs) (Rows: 57)             ETA: 9 min, 17 secs
13 in 120: Query "lockdown purchased samsung galaxy" (3.34 secs) (Rows: 10)     ETA: 8 min, 58 secs
14 in 120: Query "lockdown purchased nokia" (4.96 secs) (Rows: 21)              ETA: 8 min, 52 secs
15 in 120: Query "lockdown purchased redmi" (5.13 secs) (Rows: 31)              ETA: 8 min, 48 secs
16 in 120: Query "lockdown purchased xiaomi" (3.80 secs) (Rows: 19)             ETA: 8 min, 35 secs
17 in 120: Query "lockdown purchased oppo" (3.58 secs) (Rows: 9)                ETA: 8 min, 23 secs
18 in 120: Query "lockdown purchased realme" (7.58 secs) (Rows: 50)             ETA: 8 min, 32 secs
19 in 120: Query "lockdown purchased vivo" (3.18 secs) (Rows: 13)               ETA: 8 min, 18 secs
20 in 120: Query "lockdown purchased oneplus" (7.07 secs) (Rows: 44)            ETA: 8 min, 23 secs
21 in 120: Query "lockdown purchased huawei" (2.56 secs) (Rows: 1)              ETA: 8 min, 7 secs
22 in 120: Query "lockdown purchased honor" (2.56 secs) (Rows: 4)               ETA: 7 min, 52 secs
23 in 120: Query "lockdown purchased motorola" (2.18 secs) (Rows: 1)            ETA: 7 min, 36 secs
24 in 120: Query "lockdown thinking of iphone" (3.35 secs) (Rows: 12)           ETA: 7 min, 26 secs
25 in 120: Query "lockdown thinking of samsung galaxy" (2.15 secs) (Rows: 1)    ETA: 7 min, 13 secs
26 in 120: Query "lockdown thinking of nokia" (2.25 secs) (Rows: 2)             ETA: 7 min, 0 secs
27 in 120: Query "lockdown thinking of redmi" (1.23 secs) (Rows: 0)             ETA: 6 min, 45 secs
28 in 120: Query "lockdown thinking of xiaomi" (2.55 secs) (Rows: 3)            ETA: 6 min, 35 secs
29 in 120: Query "lockdown thinking of oppo" (2.69 secs) (Rows: 4)              ETA: 6 min, 26 secs
30 in 120: Query "lockdown thinking of realme" (2.74 secs) (Rows: 6)            ETA: 6 min, 17 secs
31 in 120: Query "lockdown thinking of vivo" (2.87 secs) (Rows: 4)              ETA: 6 min, 9 secs
32 in 120: Query "lockdown thinking of oneplus" (3.27 secs) (Rows: 7)           ETA: 6 min, 3 secs
33 in 120: Query "lockdown thinking of huawei" (2.56 secs) (Rows: 2)            ETA: 5 min, 54 secs
34 in 120: Query "lockdown thinking of honor" (2.56 secs) (Rows: 2)             ETA: 5 min, 47 secs
35 in 120: Query "lockdown thinking of motorola" (1.23 secs) (Rows: 0)          ETA: 5 min, 36 secs
36 in 120: Query "lockdown looking for iphone" (9.32 secs) (Rows: 61)           ETA: 5 min, 44 secs
37 in 120: Query "lockdown looking for samsung galaxy" (0.92 secs) (Rows: 0)    ETA: 5 min, 33 secs
38 in 120: Query "lockdown looking for nokia" (2.56 secs) (Rows: 3)             ETA: 5 min, 26 secs
39 in 120: Query "lockdown looking for redmi" (2.87 secs) (Rows: 3)             ETA: 5 min, 20 secs
40 in 120: Query "lockdown looking for xiaomi" (2.56 secs) (Rows: 1)            ETA: 5 min, 13 secs
41 in 120: Query "lockdown looking for oppo" (2.56 secs) (Rows: 4)              ETA: 5 min, 7 secs
42 in 120: Query "lockdown looking for realme" (2.87 secs) (Rows: 3)            ETA: 5 min, 1 secs
43 in 120: Query "lockdown looking for vivo" (3.08 secs) (Rows: 2)              ETA: 4 min, 56 secs
44 in 120: Query "lockdown looking for oneplus" (3.38 secs) (Rows: 8)           ETA: 4 min, 51 secs
45 in 120: Query "lockdown looking for huawei" (2.97 secs) (Rows: 4)            ETA: 4 min, 46 secs
46 in 120: Query "lockdown looking for honor" (1.84 secs) (Rows: 0)             ETA: 4 min, 39 secs
47 in 120: Query "lockdown looking for motorola" (2.05 secs) (Rows: 0)          ETA: 4 min, 32 secs
48 in 120: Query "lockdown thinking about iphone" (2.77 secs) (Rows: 7)         ETA: 4 min, 27 secs
49 in 120: Query "lockdown thinking about samsung galaxy" (1.23 secs) (Rows: 0) ETA: 4 min, 20 secs
50 in 120: Query "lockdown thinking about nokia" (2.25 secs) (Rows: 1)          ETA: 4 min, 14 secs
51 in 120: Query "lockdown thinking about redmi" (1.33 secs) (Rows: 0)          ETA: 4 min, 8 secs
52 in 120: Query "lockdown thinking about xiaomi" (2.56 secs) (Rows: 3)         ETA: 4 min, 3 secs
53 in 120: Query "lockdown thinking about oppo" (2.56 secs) (Rows: 2)           ETA: 3 min, 58 secs
54 in 120: Query "lockdown thinking about realme" (2.15 secs) (Rows: 3)         ETA: 3 min, 53 secs
55 in 120: Query "lockdown thinking about vivo" (2.56 secs) (Rows: 1)           ETA: 3 min, 48 secs
56 in 120: Query "lockdown thinking about oneplus" (1.43 secs) (Rows: 0)        ETA: 3 min, 42 secs
57 in 120: Query "lockdown thinking about huawei" (1.12 secs) (Rows: 0)         ETA: 3 min, 36 secs
58 in 120: Query "lockdown thinking about honor" (2.26 secs) (Rows: 3)          ETA: 3 min, 31 secs
59 in 120: Query "lockdown thinking about motorola" (1.33 secs) (Rows: 0)       ETA: 3 min, 26 secs
60 in 120: Query "lockdown want to buy iphone" (3.48 secs) (Rows: 19)           ETA: 3 min, 23 secs
61 in 120: Query "lockdown want to buy samsung galaxy" (2.25 secs) (Rows: 1)    ETA: 3 min, 18 secs
62 in 120: Query "lockdown want to buy nokia" (1.05 secs) (Rows: 0)             ETA: 3 min, 13 secs
63 in 120: Query "lockdown want to buy redmi" (2.84 secs) (Rows: 5)             ETA: 3 min, 9 secs
64 in 120: Query "lockdown want to buy xiaomi" (2.66 secs) (Rows: 1)            ETA: 3 min, 5 secs
65 in 120: Query "lockdown want to buy oppo" (1.13 secs) (Rows: 0)              ETA: 3 min, 0 secs
66 in 120: Query "lockdown want to buy realme" (3.18 secs) (Rows: 19)           ETA: 2 min, 57 secs
67 in 120: Query "lockdown want to buy vivo" (1.43 secs) (Rows: 0)              ETA: 2 min, 52 secs
68 in 120: Query "lockdown want to buy oneplus" (5.02 secs) (Rows: 27)          ETA: 2 min, 50 secs
69 in 120: Query "lockdown want to buy huawei" (2.56 secs) (Rows: 4)            ETA: 2 min, 46 secs
70 in 120: Query "lockdown want to buy honor" (2.56 secs) (Rows: 3)             ETA: 2 min, 42 secs

71 in 120: Query "lockdown want to buy motorola" (1.23 secs) (Rows: 0)          ETA: 2 min, 38 secs
72 in 120: Query "lockdown recommend iphone" (2.87 secs) (Rows: 6)              ETA: 2 min, 34 secs
73 in 120: Query "lockdown recommend samsung galaxy" (1.03 secs) (Rows: 0)      ETA: 2 min, 30 secs
74 in 120: Query "lockdown recommend nokia" (2.76 secs) (Rows: 3)               ETA: 2 min, 26 secs
75 in 120: Query "lockdown recommend redmi" (1.02 secs) (Rows: 0)               ETA: 2 min, 22 secs
76 in 120: Query "lockdown recommend xiaomi" (1.43 secs) (Rows: 0)              ETA: 2 min, 18 secs
77 in 120: Query "lockdown recommend oppo" (3.07 secs) (Rows: 4)                ETA: 2 min, 14 secs
78 in 120: Query "lockdown recommend realme" (2.87 secs) (Rows: 2)              ETA: 2 min, 11 secs
79 in 120: Query "lockdown recommend vivo" (1.42 secs) (Rows: 0)                ETA: 2 min, 7 secs
80 in 120: Query "lockdown recommend oneplus" (3.06 secs) (Rows: 5)             ETA: 2 min, 4 secs
81 in 120: Query "lockdown recommend huawei" (2.56 secs) (Rows: 3)              ETA: 2 min, 1 secs
82 in 120: Query "lockdown recommend honor" (2.87 secs) (Rows: 2)               ETA: 1 min, 57 secs
83 in 120: Query "lockdown recommend motorola" (1.33 secs) (Rows: 0)            ETA: 1 min, 53 secs
84 in 120: Query "lockdown suggest iphone" (3.44 secs) (Rows: 16)               ETA: 1 min, 51 secs
85 in 120: Query "lockdown suggest samsung galaxy" (2.59 secs) (Rows: 1)        ETA: 1 min, 47 secs
86 in 120: Query "lockdown suggest nokia" (2.56 secs) (Rows: 3)                 ETA: 1 min, 44 secs
87 in 120: Query "lockdown suggest redmi" (2.56 secs) (Rows: 3)                 ETA: 1 min, 41 secs
88 in 120: Query "lockdown suggest xiaomi" (2.97 secs) (Rows: 2)                ETA: 1 min, 38 secs
89 in 120: Query "lockdown suggest oppo" (3.18 secs) (Rows: 5)                  ETA: 1 min, 35 secs
90 in 120: Query "lockdown suggest realme" (3.57 secs) (Rows: 13)               ETA: 1 min, 32 secs
91 in 120: Query "lockdown suggest vivo" (1.13 secs) (Rows: 0)                  ETA: 1 min, 28 secs
92 in 120: Query "lockdown suggest oneplus" (3.75 secs) (Rows: 17)              ETA: 1 min, 25 secs
93 in 120: Query "lockdown suggest huawei" (2.39 secs) (Rows: 2)                ETA: 1 min, 22 secs
94 in 120: Query "lockdown suggest honor" (2.77 secs) (Rows: 8)                 ETA: 1 min, 19 secs
95 in 120: Query "lockdown suggest motorola" (2.34 secs) (Rows: 2)              ETA: 1 min, 16 secs
96 in 120: Query "lockdown think of iphone" (7.47 secs) (Rows: 52)              ETA: 1 min, 14 secs
97 in 120: Query "lockdown think of samsung galaxy" (2.36 secs) (Rows: 2)       ETA: 1 min, 10 secs
98 in 120: Query "lockdown think of nokia" (2.56 secs) (Rows: 5)                ETA: 1 min, 7 secs
99 in 120: Query "lockdown think of redmi" (2.98 secs) (Rows: 2)                ETA: 1 min, 4 secs
100 in 120: Query "lockdown think of xiaomi" (3.28 secs) (Rows: 4)              ETA: 1 min, 1 secs
101 in 120: Query "lockdown think of oppo" (2.75 secs) (Rows: 1)                ETA: 58 secs
102 in 120: Query "lockdown think of realme" (2.87 secs) (Rows: 9)              ETA: 55 secs
103 in 120: Query "lockdown think of vivo" (2.56 secs) (Rows: 3)                ETA: 52 secs
104 in 120: Query "lockdown think of oneplus" (3.48 secs) (Rows: 16)            ETA: 49 secs
105 in 120: Query "lockdown think of huawei" (2.97 secs) (Rows: 9)              ETA: 46 secs
106 in 120: Query "lockdown think of honor" (6.35 secs) (Rows: 24)              ETA: 43 secs
107 in 120: Query "lockdown think of motorola" (6.14 secs) (Rows: 2)            ETA: 40 secs
108 in 120: Query "lockdown ordered iphone" (10.95 secs) (Rows: 18)             ETA: 38 secs
109 in 120: Query "lockdown ordered samsung galaxy" (17.83 secs) (Rows: 6)      ETA: 36 secs
110 in 120: Query "lockdown ordered nokia" (2.28 secs) (Rows: 1)                ETA: 33 secs
111 in 120: Query "lockdown ordered redmi" (2.57 secs) (Rows: 13)               ETA: 29 secs
112 in 120: Query "lockdown ordered xiaomi" (2.78 secs) (Rows: 9)               ETA: 26 secs
113 in 120: Query "lockdown ordered oppo" (2.63 secs) (Rows: 4)                 ETA: 23 secs
114 in 120: Query "lockdown ordered realme" (5.37 secs) (Rows: 33)              ETA: 19 secs
115 in 120: Query "lockdown ordered vivo" (4.23 secs) (Rows: 2)                 ETA: 16 secs
116 in 120: Query "lockdown ordered oneplus" (5.12 secs) (Rows: 25)             ETA: 13 secs
117 in 120: Query "lockdown ordered huawei" (3.69 secs) (Rows: 18)              ETA: 10 secs
118 in 120: Query "lockdown ordered honor" (6.04 secs) (Rows: 6)                ETA: 6 secs
119 in 120: Query "lockdown ordered motorola" (1.02 secs) (Rows: 0)             ETA: 3 secs

Total query time: 6 min, 42 secs

In [108]:
#Sorting by date
tweets_sentiment.sort_values(by="Date", inplace=True, ascending=True)
print("Number of rows: {}".format(tweets_sentiment.shape[0]))

tweets_sentiment.drop_duplicates(subset=["Text"], inplace=True)
tweets_sentiment.reset_index(drop=True, inplace=True)
print("Number of rows after deleted duplicates: {}".format(tweets_sentiment.shape[0]))

tweets_sentiment.to_csv("tweets_sentiment.csv")
tweets_sentiment.head(5)

Number of rows: 1144
Number of rows after deleted duplicates: 1002

,Text,Date,Retweets,Favorites,Mentions,HashTags
0,"@XiaomiIndia @Xiaomi we hve ordered Mi 40"" TV ...",2020-04-01 03:59:59+00:00,0,0,@XiaomiIndia @Xiaomi,
1,"@Xiaomi Mi A2 Packed on 2018, July Purchased O...",2020-04-01 06:27:55+00:00,0,0,@Xiaomi,
2,@flipkartsupport recently just before the coun...,2020-04-01 08:17:43+00:00,0,0,@flipkartsupport,
3,#covid19UK I find that a lot of teenagers seem...,2020-04-01 10:26:16+00:00,0,0,,#covid19UK
4,Lockdown making me spend so much money - Just ...,2020-04-01 13:50:51+00:00,0,2,,

## Pulling for Part 2 - Behaviour analysis

In [103]:
behaviour_list = []
behaviour_list.append(["watching","netflix","amazon prime","hotstar"])
behaviour_list.append(["playing","video game","mobile game","xbox","playstation"])
behaviour_list.append(["shopping","flipkart","amazon"])

# Tweets for each behaviour keyword, <1 means all possible tweets
tweets_per_keyword = 0

behaviour_words = keywords_prep_beha(behaviour_list,tweets_per_keyword)
behaviour_words[:5]

Number of permutations: 9
All possible tweets for each keyword will be pulled

['watching netflix',
 'watching amazon prime',
 'watching hotstar',
 'playing video game',
 'playing mobile game']

In [105]:
fixed_key = ["lockdown"]
tweets_behaviour = custom_scraper(behaviour_words,fixed_key,tweets_per_keyword)

0 in 9: Query "lockdown watching netflix" (394.23 secs) (Rows: 3521)            ETA: 59 min, 8 secs
1 in 9: Query "lockdown watching amazon prime" (26.61 secs) (Rows: 213)         ETA: 28 min, 3 secs
2 in 9: Query "lockdown watching hotstar" (13.72 secs) (Rows: 109)              ETA: 16 min, 53 secs
3 in 9: Query "lockdown playing video game" (108.67 secs) (Rows: 883)           ETA: 13 min, 34 secs
4 in 9: Query "lockdown playing mobile game" (4.51 secs) (Rows: 23)             ETA: 9 min, 7 secs
5 in 9: Query "lockdown playing xbox" (41.00 secs) (Rows: 341)                  ETA: 6 min, 32 secs
6 in 9: Query "lockdown playing playstation" (21.44 secs) (Rows: 170)           ETA: 4 min, 21 secs
7 in 9: Query "lockdown shopping flipkart" (16.23 secs) (Rows: 117)             ETA: 2 min, 36 secs
8 in 9: Query "lockdown shopping amazon" (59.92 secs) (Rows: 502)               ETA: 1 min, 16 secs

Total query time: 11 min, 26 secs

In [106]:
#Sorting by date
tweets_behaviour.sort_values(by="Date", inplace=True, ascending=True)
print("Number of rows: {}".format(tweets_behaviour.shape[0]))

tweets_behaviour.drop_duplicates(subset=["Text"], inplace=True)
tweets_behaviour.reset_index(drop=True, inplace=True)
print("Number of rows after deleted duplicates: {}".format(tweets_behaviour.shape[0]))

tweets_behaviour.to_csv("tweets_behaviour.csv")
tweets_behaviour.head(5)

Number of rows: 5879
Number of rows after deleted duplicates: 5512

,Text,Date,Retweets,Favorites,Mentions,HashTags
0,"To make this stop, we need a complete lockdown...",2020-04-01 00:17:50+00:00,0,1,,
1,Lockdown http://wpsbrittanyp.blogspot.com/2020...,2020-04-01 02:31:54+00:00,0,0,,
2,Day 8 of Lockdown: Recommending ‘USS Indianapo...,2020-04-01 02:32:13+00:00,2,8,,
3,@netflix @hulu @PrimeVideo yes I'm still watch...,2020-04-01 02:33:29+00:00,0,0,@netflix @hulu @PrimeVideo,#lockdown
4,could've been at a @dodgers game with a michi ...,2020-04-01 02:57:57+00:00,0,1,@Dodgers,