In [1]:
import GetOldTweets3 as got
import pandas as pd
import itertools
import datetime
import time

In [82]:
def time_print(time_secs):
    d = datetime.datetime(1,1,1) + datetime.timedelta(seconds = time_secs)
    date_str = "{}{}{}{}".format(str(d.day-1)+" days, " if d.day>1 else "",
                                str(d.hour)+" hours, " if d.hour>0 else "",
                                str(d.minute)+" min, " if d.minute>0 else "",
                                str(d.second)+" secs")
    return date_str

### Basic GetOldTweets3 function

In [83]:
def get_tweets(query, top_only, start_date, end_date, max_tweets):
   
    # specifying tweet search criteria
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(query)\
                                                .setTopTweets(top_only)\
                                                .setSince(start_date)\
                                                .setUntil(end_date)\
                                                .setMaxTweets(max_tweets)
    
    # scraping tweets based on criteria
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    # creating list of tweets with the tweet attributes specified in the list comprehension
    text_tweets = [[tw.text,
                    tw.date,
                    tw.retweets,
                    tw.favorites,
                    tw.mentions,
                    tw.hashtags] for tw in tweet]
    
    # creating dataframe, assigning column names to list of tweets corresponding to tweet attributes
    tweets_df = pd.DataFrame(text_tweets, 
                            columns = ['Text','Date','Retweets','Favorites','Mentions','HashTags'])
    
    return tweets_df

### Custom scraper function to use with behaviour words

In [84]:
def custom_scraper(behaviour_words,limit_keyword):
    tweets_temp = pd.DataFrame(columns = ['Text','Date','Retweets','Favorites','Mentions','HashTags'])
    total_loop_time = 0
    avg_loop_time = 0
    len_behaviour_words = len(behaviour_words)
    for i,word in enumerate(behaviour_words):
        start = time.time()

        custom_query = "lockdown " + word
        tweet_out = get_tweets(custom_query,
                                top_only = False,
                                start_date = "2020-04-01",
                                end_date = "2020-08-01",
                                max_tweets = limit_keyword)
        tweets_temp = tweets_temp.append(tweet_out, ignore_index=True)

        end = time.time()
        total_loop_time += end-start
        avg_loop_time = total_loop_time/(i+1)
        time_left = (avg_loop_time) * (len_behaviour_words-i)

        out1 = "{} in {}: Query \"{}\" ({:.2f} secs) (Rows: {})".format(i,len_behaviour_words,word,
                                                                        (end-start),len(tweet_out))
        out2 = "ETA: {}".format(time_print(time_left))
        print("{:<80s}{:<35s}".format(out1,out2))

    print("\nTotal query time: {}".format(time_print(total_loop_time)))
    return tweets_temp

###  Base segment contaning basic scrape code (not in use)

In [85]:
# Only including top tweets,
# Between a specific range of dates, with end date not inclusive
# And specifying that we want a max number of tweets in max_tweets.

# The main query word goes here, case insensitive
query = "lockdown"

tweets_df = get_tweets(query,
                        top_only = False,
                        start_date = "2020-04-01",
                        end_date = "2020-08-01",
                        max_tweets = 10)
tweets_df.head(5)

,Text,Date,Retweets,Favorites,Mentions,HashTags
0,"In a world where celebrities are worshiped, I ...",2020-07-31 23:59:57+00:00,0,0,,
1,That weed Nengi stopped blazing truly is putti...,2020-07-31 23:59:56+00:00,0,0,,#bbnaija2020lockdown
2,I truly feel sorry for the United States. Dr F...,2020-07-31 23:59:54+00:00,0,3,,
3,Our half ass lockdown has us already at 150k. ...,2020-07-31 23:59:51+00:00,0,0,,
4,They are this time around as their numbers sta...,2020-07-31 23:59:50+00:00,1,0,,

### Main segment with relevant inputs

In [86]:
activity_words = ["bought","purchased","thinking of","looking for",
"thinking about","want to buy","recommend","suggest","think of"]

product_words = ["phone","smartphone","mobile","iphone","android","samsung","nokia","galaxy","redmi","xiaomi",
                "oppo","realme","vivo","oneplus","huawei","honor","motorola"]

with open('behaviour_words.txt', 'w') as f:
    for item in activity_words:
        f.write("%s\n" % item)
    for item in product_words:
        f.write("%s\n" % item)

# Behavior words are all permutations of activity and product words
behaviour_words = list(map(" ".join, itertools.product(activity_words,product_words)))

# Tweets for each behaviour words, <1 means all possible tweets
num_tweets_keyword = 0

print("Number of activity words: {}".format(len(activity_words)))
print("Number of product words: {}".format(len(product_words)))
print("Number of permutations: {}".format(len(behaviour_words)))
print("Number of rows to be pulled: {}".format(len(behaviour_words)*num_tweets_keyword) 
      if num_tweets_keyword>0
      else "All possible tweets for each keyword will be pulled")

Number of activity words: 10
Number of product words: 17
Number of permutations: 170
All possible tweets for each keyword will be pulled

### Pulling tweets for our behaviour words

In [87]:
tweets_df_custom = custom_scraper(behaviour_words,num_tweets_keyword)

0 in 170: Query "bought phone" (60.88 secs) (Rows: 496)                         ETA: 2 hours, 52 min, 29 secs
1 in 170: Query "bought smartphone" (3.07 secs) (Rows: 17)                      ETA: 1 hours, 30 min, 3 secs
2 in 170: Query "bought mobile" (15.57 secs) (Rows: 120)                        ETA: 1 hours, 14 min, 12 secs
3 in 170: Query "bought iphone" (15.97 secs) (Rows: 125)                        ETA: 1 hours, 6 min, 26 secs
4 in 170: Query "bought android" (3.17 secs) (Rows: 20)                         ETA: 54 min, 35 secs
5 in 170: Query "bought samsung" (9.93 secs) (Rows: 66)                         ETA: 49 min, 46 secs
6 in 170: Query "bought nokia" (3.17 secs) (Rows: 17)                           ETA: 43 min, 38 secs
7 in 170: Query "bought galaxy" (4.51 secs) (Rows: 26)                          ETA: 39 min, 29 secs
8 in 170: Query "bought redmi" (5.32 secs) (Rows: 24)                           ETA: 36 min, 28 secs
9 in 170: Query "bought xiaomi" (3.38 secs) (Rows: 19)                          ETA: 33 min, 32 secs
10 in 170: Query "bought oppo" (2.87 secs) (Rows: 6)                            ETA: 30 min, 59 secs
11 in 170: Query "bought realme" (6.76 secs) (Rows: 32)                         ETA: 29 min, 43 secs
12 in 170: Query "bought vivo" (2.86 secs) (Rows: 8)                            ETA: 27 min, 50 secs
13 in 170: Query "bought oneplus" (7.48 secs) (Rows: 40)                        ETA: 27 min, 5 secs
14 in 170: Query "bought huawei" (2.76 secs) (Rows: 6)                          ETA: 25 min, 36 secs
15 in 170: Query "bought honor" (2.87 secs) (Rows: 7)                           ETA: 24 min, 18 secs
16 in 170: Query "bought motorola" (1.23 secs) (Rows: 0)                        ETA: 22 min, 55 secs
17 in 170: Query "purchased phone" (44.34 secs) (Rows: 310)                     ETA: 27 min, 47 secs
18 in 170: Query "purchased smartphone" (4.95 secs) (Rows: 25)                  ETA: 26 min, 48 secs
19 in 170: Query "purchased mobile" (23.72 secs) (Rows: 190)                    ETA: 28 min, 17 secs
20 in 170: Query "purchased iphone" (7.29 secs) (Rows: 57)                      ETA: 27 min, 37 secs
21 in 170: Query "purchased android" (3.97 secs) (Rows: 13)                     ETA: 26 min, 38 secs
22 in 170: Query "purchased samsung" (9.76 secs) (Rows: 68)                     ETA: 26 min, 21 secs
23 in 170: Query "purchased nokia" (5.80 secs) (Rows: 21)                       ETA: 25 min, 41 secs
24 in 170: Query "purchased galaxy" (5.84 secs) (Rows: 26)                      ETA: 25 min, 3 secs
25 in 170: Query "purchased redmi" (5.43 secs) (Rows: 31)                       ETA: 24 min, 26 secs
26 in 170: Query "purchased xiaomi" (3.48 secs) (Rows: 19)                      ETA: 23 min, 40 secs
27 in 170: Query "purchased oppo" (3.27 secs) (Rows: 9)                         ETA: 22 min, 57 secs
28 in 170: Query "purchased realme" (10.55 secs) (Rows: 50)                     ETA: 22 min, 52 secs
29 in 170: Query "purchased vivo" (3.07 secs) (Rows: 13)                        ETA: 22 min, 11 secs
30 in 170: Query "purchased oneplus" (10.75 secs) (Rows: 44)                    ETA: 22 min, 7 secs
31 in 170: Query "purchased huawei" (2.46 secs) (Rows: 1)                       ETA: 21 min, 27 secs
32 in 170: Query "purchased honor" (2.87 secs) (Rows: 5)                        ETA: 20 min, 51 secs
33 in 170: Query "purchased motorola" (2.56 secs) (Rows: 1)                     ETA: 20 min, 16 secs
34 in 170: Query "thinking of phone" (50.18 secs) (Rows: 193)                   ETA: 22 min, 48 secs
35 in 170: Query "thinking of smartphone" (2.56 secs) (Rows: 4)                 ETA: 22 min, 9 secs
36 in 170: Query "thinking of mobile" (8.09 secs) (Rows: 53)                    ETA: 21 min, 53 secs
37 in 170: Query "thinking of iphone" (2.56 secs) (Rows: 12)                    ETA: 21 min, 18 secs
38 in 170: Query "thinking of android" (2.29 secs) (Rows: 9)                    ETA: 20 min, 44 secs
39 in 170: Query "thinking of samsung" (2.07 secs) (Rows: 3)                    ETA: 20 min, 10 secs
40 in 170: Query "thinking of nokia" (2.30 secs) (Rows: 2)                      ETA: 19 min, 39 secs
41 in 170: Query "thinking of galaxy" (3.09 secs) (Rows: 6)                     ETA: 19 min, 11 secs
42 in 170: Query "thinking of redmi" (1.41 secs) (Rows: 0)                      ETA: 18 min, 40 secs
43 in 170: Query "thinking of xiaomi" (4.71 secs) (Rows: 3)                     ETA: 18 min, 20 secs
44 in 170: Query "thinking of oppo" (2.35 secs) (Rows: 4)                       ETA: 17 min, 53 secs
45 in 170: Query "thinking of realme" (2.10 secs) (Rows: 6)                     ETA: 17 min, 27 secs
46 in 170: Query "thinking of vivo" (2.83 secs) (Rows: 4)                       ETA: 17 min, 4 secs
47 in 170: Query "thinking of oneplus" (3.07 secs) (Rows: 7)                    ETA: 16 min, 43 secs
48 in 170: Query "thinking of huawei" (2.56 secs) (Rows: 2)                     ETA: 16 min, 21 secs
49 in 170: Query "thinking of honor" (2.56 secs) (Rows: 2)                      ETA: 15 min, 59 secs
50 in 170: Query "thinking of motorola" (0.92 secs) (Rows: 0)                   ETA: 15 min, 35 secs
51 in 170: Query "pay phone" (5.12 secs) (Rows: 32)                             ETA: 15 min, 21 secs
52 in 170: Query "pay smartphone" (5.43 secs) (Rows: 34)                        ETA: 15 min, 8 secs
53 in 170: Query "pay mobile" (62.06 secs) (Rows: 548)                          ETA: 16 min, 58 secs
54 in 170: Query "pay iphone" (5.12 secs) (Rows: 32)                            ETA: 16 min, 42 secs
55 in 170: Query "pay android" (4.81 secs) (Rows: 32)                           ETA: 16 min, 25 secs
56 in 170: Query "pay samsung" (8.09 secs) (Rows: 55)                           ETA: 16 min, 16 secs
57 in 170: Query "pay nokia" (2.56 secs) (Rows: 13)                             ETA: 15 min, 56 secs
58 in 170: Query "pay galaxy" (5.02 secs) (Rows: 21)                            ETA: 15 min, 41 secs
59 in 170: Query "pay redmi" (2.25 secs) (Rows: 1)                              ETA: 15 min, 21 secs
60 in 170: Query "pay xiaomi" (2.35 secs) (Rows: 6)                             ETA: 15 min, 2 secs
61 in 170: Query "pay oppo" (2.78 secs) (Rows: 9)                               ETA: 14 min, 44 secs
62 in 170: Query "pay realme" (2.56 secs) (Rows: 4)                             ETA: 14 min, 26 secs
63 in 170: Query "pay vivo" (2.92 secs) (Rows: 11)                              ETA: 14 min, 10 secs
64 in 170: Query "pay oneplus" (3.33 secs) (Rows: 14)                           ETA: 13 min, 54 secs
65 in 170: Query "pay huawei" (2.76 secs) (Rows: 7)                             ETA: 13 min, 38 secs
66 in 170: Query "pay honor" (5.74 secs) (Rows: 31)                             ETA: 13 min, 27 secs
67 in 170: Query "pay motorola" (1.33 secs) (Rows: 0)                           ETA: 13 min, 10 secs
68 in 170: Query "looking for phone" (46.39 secs) (Rows: 388)                   ETA: 13 min, 59 secs
69 in 170: Query "looking for smartphone" (4.48 secs) (Rows: 24)                ETA: 13 min, 46 secs
70 in 170: Query "looking for mobile" (14.11 secs) (Rows: 102)                  ETA: 13 min, 46 secs

71 in 170: Query "looking for iphone" (7.93 secs) (Rows: 47)                    ETA: 13 min, 37 secs
72 in 170: Query "looking for android" (6.59 secs) (Rows: 41)                   ETA: 13 min, 27 secs
73 in 170: Query "looking for samsung" (2.52 secs) (Rows: 8)                    ETA: 13 min, 11 secs
74 in 170: Query "looking for nokia" (2.46 secs) (Rows: 3)                      ETA: 12 min, 55 secs
75 in 170: Query "looking for galaxy" (2.86 secs) (Rows: 6)                     ETA: 12 min, 41 secs
76 in 170: Query "looking for redmi" (2.41 secs) (Rows: 3)                      ETA: 12 min, 26 secs
77 in 170: Query "looking for xiaomi" (1.75 secs) (Rows: 1)                     ETA: 12 min, 11 secs
78 in 170: Query "looking for oppo" (2.13 secs) (Rows: 4)                       ETA: 11 min, 56 secs
79 in 170: Query "looking for realme" (1.85 secs) (Rows: 3)                     ETA: 11 min, 42 secs
80 in 170: Query "looking for vivo" (2.42 secs) (Rows: 2)                       ETA: 11 min, 28 secs
81 in 170: Query "looking for oneplus" (3.26 secs) (Rows: 8)                    ETA: 11 min, 16 secs
82 in 170: Query "looking for huawei" (2.76 secs) (Rows: 4)                     ETA: 11 min, 3 secs
83 in 170: Query "looking for honor" (1.58 secs) (Rows: 0)                      ETA: 10 min, 49 secs
84 in 170: Query "looking for motorola" (0.98 secs) (Rows: 0)                   ETA: 10 min, 35 secs
85 in 170: Query "thinking about phone" (15.63 secs) (Rows: 109)                ETA: 10 min, 36 secs
86 in 170: Query "thinking about smartphone" (2.24 secs) (Rows: 2)              ETA: 10 min, 23 secs
87 in 170: Query "thinking about mobile" (2.91 secs) (Rows: 16)                 ETA: 10 min, 12 secs
88 in 170: Query "thinking about iphone" (2.97 secs) (Rows: 7)                  ETA: 10 min, 0 secs
89 in 170: Query "thinking about android" (2.30 secs) (Rows: 5)                 ETA: 9 min, 48 secs
90 in 170: Query "thinking about samsung" (2.41 secs) (Rows: 3)                 ETA: 9 min, 37 secs
91 in 170: Query "thinking about nokia" (2.25 secs) (Rows: 1)                   ETA: 9 min, 25 secs
92 in 170: Query "thinking about galaxy" (2.56 secs) (Rows: 3)                  ETA: 9 min, 14 secs
93 in 170: Query "thinking about redmi" (0.87 secs) (Rows: 0)                   ETA: 9 min, 2 secs
94 in 170: Query "thinking about xiaomi" (2.00 secs) (Rows: 3)                  ETA: 8 min, 51 secs
95 in 170: Query "thinking about oppo" (2.25 secs) (Rows: 2)                    ETA: 8 min, 40 secs
96 in 170: Query "thinking about realme" (2.56 secs) (Rows: 3)                  ETA: 8 min, 30 secs
97 in 170: Query "thinking about vivo" (2.56 secs) (Rows: 1)                    ETA: 8 min, 20 secs
98 in 170: Query "thinking about oneplus" (1.74 secs) (Rows: 0)                 ETA: 8 min, 9 secs
99 in 170: Query "thinking about huawei" (1.13 secs) (Rows: 0)                  ETA: 7 min, 58 secs
100 in 170: Query "thinking about honor" (2.46 secs) (Rows: 3)                  ETA: 7 min, 49 secs
101 in 170: Query "thinking about motorola" (1.13 secs) (Rows: 0)               ETA: 7 min, 38 secs
102 in 170: Query "want to buy phone" (5.53 secs) (Rows: 36)                    ETA: 7 min, 31 secs
103 in 170: Query "want to buy smartphone" (3.96 secs) (Rows: 14)               ETA: 7 min, 23 secs
104 in 170: Query "want to buy mobile" (5.66 secs) (Rows: 33)                   ETA: 7 min, 15 secs
105 in 170: Query "want to buy iphone" (3.38 secs) (Rows: 19)                   ETA: 7 min, 7 secs
106 in 170: Query "want to buy android" (2.56 secs) (Rows: 4)                   ETA: 6 min, 58 secs
107 in 170: Query "want to buy samsung" (2.56 secs) (Rows: 7)                   ETA: 6 min, 49 secs
108 in 170: Query "want to buy nokia" (1.23 secs) (Rows: 0)                     ETA: 6 min, 39 secs
109 in 170: Query "want to buy galaxy" (2.56 secs) (Rows: 2)                    ETA: 6 min, 31 secs
110 in 170: Query "want to buy redmi" (2.56 secs) (Rows: 5)                     ETA: 6 min, 22 secs
111 in 170: Query "want to buy xiaomi" (2.25 secs) (Rows: 1)                    ETA: 6 min, 14 secs
112 in 170: Query "want to buy oppo" (0.93 secs) (Rows: 0)                      ETA: 6 min, 5 secs
113 in 170: Query "want to buy realme" (3.23 secs) (Rows: 19)                   ETA: 5 min, 57 secs
114 in 170: Query "want to buy vivo" (1.27 secs) (Rows: 0)                      ETA: 5 min, 48 secs
115 in 170: Query "want to buy oneplus" (5.23 secs) (Rows: 27)                  ETA: 5 min, 41 secs
116 in 170: Query "want to buy huawei" (2.66 secs) (Rows: 4)                    ETA: 5 min, 34 secs
117 in 170: Query "want to buy honor" (2.37 secs) (Rows: 3)                     ETA: 5 min, 26 secs
118 in 170: Query "want to buy motorola" (1.02 secs) (Rows: 0)                  ETA: 5 min, 17 secs
119 in 170: Query "recommend phone" (10.24 secs) (Rows: 80)                     ETA: 5 min, 13 secs
120 in 170: Query "recommend smartphone" (3.79 secs) (Rows: 6)                  ETA: 5 min, 6 secs
121 in 170: Query "recommend mobile" (7.27 secs) (Rows: 30)                     ETA: 5 min, 0 secs
122 in 170: Query "recommend iphone" (2.66 secs) (Rows: 6)                      ETA: 4 min, 53 secs
123 in 170: Query "recommend android" (7.05 secs) (Rows: 41)                    ETA: 4 min, 47 secs
124 in 170: Query "recommend samsung" (3.19 secs) (Rows: 5)                     ETA: 4 min, 40 secs
125 in 170: Query "recommend nokia" (2.25 secs) (Rows: 3)                       ETA: 4 min, 32 secs
126 in 170: Query "recommend galaxy" (2.87 secs) (Rows: 5)                      ETA: 4 min, 25 secs
127 in 170: Query "recommend redmi" (0.92 secs) (Rows: 0)                       ETA: 4 min, 17 secs
128 in 170: Query "recommend xiaomi" (1.02 secs) (Rows: 0)                      ETA: 4 min, 10 secs
129 in 170: Query "recommend oppo" (2.67 secs) (Rows: 4)                        ETA: 4 min, 3 secs
130 in 170: Query "recommend realme" (2.25 secs) (Rows: 2)                      ETA: 3 min, 56 secs
131 in 170: Query "recommend vivo" (1.13 secs) (Rows: 0)                        ETA: 3 min, 48 secs
132 in 170: Query "recommend oneplus" (2.96 secs) (Rows: 5)                     ETA: 3 min, 42 secs
133 in 170: Query "recommend huawei" (2.16 secs) (Rows: 3)                      ETA: 3 min, 35 secs
134 in 170: Query "recommend honor" (2.25 secs) (Rows: 2)                       ETA: 3 min, 28 secs
135 in 170: Query "recommend motorola" (0.97 secs) (Rows: 0)                    ETA: 3 min, 21 secs
136 in 170: Query "suggest phone" (16.49 secs) (Rows: 139)                      ETA: 3 min, 18 secs
137 in 170: Query "suggest smartphone" (2.71 secs) (Rows: 6)                    ETA: 3 min, 11 secs
138 in 170: Query "suggest mobile" (13.42 secs) (Rows: 110)                     ETA: 3 min, 7 secs
139 in 170: Query "suggest iphone" (3.28 secs) (Rows: 16)                       ETA: 3 min, 1 secs
140 in 170: Query "suggest android" (2.56 secs) (Rows: 7)                       ETA: 2 min, 54 secs
141 in 170: Query "suggest samsung" (2.76 secs) (Rows: 9)                       ETA: 2 min, 48 secs

142 in 170: Query "suggest nokia" (2.26 secs) (Rows: 3)                         ETA: 2 min, 41 secs
143 in 170: Query "suggest galaxy" (2.56 secs) (Rows: 8)                        ETA: 2 min, 35 secs
144 in 170: Query "suggest redmi" (2.27 secs) (Rows: 3)                         ETA: 2 min, 29 secs
145 in 170: Query "suggest xiaomi" (2.95 secs) (Rows: 2)                        ETA: 2 min, 22 secs
146 in 170: Query "suggest oppo" (3.58 secs) (Rows: 5)                          ETA: 2 min, 16 secs
147 in 170: Query "suggest realme" (2.39 secs) (Rows: 13)                       ETA: 2 min, 10 secs
148 in 170: Query "suggest vivo" (0.95 secs) (Rows: 0)                          ETA: 2 min, 4 secs
149 in 170: Query "suggest oneplus" (5.77 secs) (Rows: 17)                      ETA: 1 min, 58 secs
150 in 170: Query "suggest huawei" (2.56 secs) (Rows: 2)                        ETA: 1 min, 52 secs
151 in 170: Query "suggest honor" (2.56 secs) (Rows: 8)                         ETA: 1 min, 46 secs
152 in 170: Query "suggest motorola" (2.14 secs) (Rows: 2)                      ETA: 1 min, 40 secs
153 in 170: Query "think of phone" (97.50 secs) (Rows: 747)                     ETA: 1 min, 45 secs
154 in 170: Query "think of smartphone" (6.04 secs) (Rows: 31)                  ETA: 1 min, 38 secs
155 in 170: Query "think of mobile" (32.35 secs) (Rows: 178)                    ETA: 1 min, 35 secs
156 in 170: Query "think of iphone" (8.81 secs) (Rows: 53)                      ETA: 1 min, 29 secs
157 in 170: Query "think of android" (4.20 secs) (Rows: 21)                     ETA: 1 min, 22 secs
158 in 170: Query "think of samsung" (2.87 secs) (Rows: 14)                     ETA: 1 min, 15 secs
159 in 170: Query "think of nokia" (2.25 secs) (Rows: 5)                        ETA: 1 min, 9 secs
160 in 170: Query "think of galaxy" (3.12 secs) (Rows: 17)                      ETA: 1 min, 2 secs
161 in 170: Query "think of redmi" (2.17 secs) (Rows: 2)                        ETA: 56 secs
162 in 170: Query "think of xiaomi" (2.70 secs) (Rows: 4)                       ETA: 49 secs
163 in 170: Query "think of oppo" (2.76 secs) (Rows: 1)                         ETA: 43 secs
164 in 170: Query "think of realme" (4.20 secs) (Rows: 9)                       ETA: 37 secs
165 in 170: Query "think of vivo" (3.17 secs) (Rows: 3)                         ETA: 30 secs
166 in 170: Query "think of oneplus" (4.51 secs) (Rows: 16)                     ETA: 24 secs
167 in 170: Query "think of huawei" (3.64 secs) (Rows: 9)                       ETA: 18 secs
168 in 170: Query "think of honor" (5.00 secs) (Rows: 24)                       ETA: 12 secs
169 in 170: Query "think of motorola" (2.32 secs) (Rows: 2)                     ETA: 6 secs

Total query time: 17 min, 21 secs

### Tweets Dataframe as output

In [88]:
#Sorting by date
tweets_df_custom = tweets_df_custom.sort_values(by="Date", ascending=True)
print("Number of rows: {}".format(tweets_df_custom.shape[0]))
tweets_df_custom.head()

Number of rows: 5726

,Text,Date,Retweets,Favorites,Mentions,HashTags
2835,Lockdown Day 7: Banks begin loan moratorium me...,2020-04-01 00:07:13+00:00,0,0,,
2834,It’s not a surprise that people had to get gra...,2020-04-01 00:33:33+00:00,0,1,,
495,bought a new phone bc I ran out of storage for...,2020-04-01 01:17:18+00:00,0,1,,
3483,"Looking forward to ending the lockdown, Britai...",2020-04-01 01:40:23+00:00,0,0,,
494,u know i bought stardew valley on my phone bc ...,2020-04-01 02:45:03+00:00,0,0,,

In [89]:
# Removing duplicate rows
tweets_df_custom = tweets_df_custom.drop_duplicates(subset=["Text"])
print("Number of rows: {}".format(tweets_df_custom.shape[0]))

# tweets_df.to_csv("tweets_raw.csv")
tweets_df_custom.to_csv("tweets_raw_berk.csv")

Number of rows: 4750