In [2]:
import GetOldTweets3 as got
import pandas as pd
import itertools
import datetime
import time

In [3]:
def time_print(time_secs):
    d = datetime.datetime(1,1,1) + datetime.timedelta(seconds = time_secs)
    date_str = "{}{}{}{}".format(str(d.day-1)+" days, " if d.day>1 else "",
                                str(d.hour)+" hours, " if d.hour>0 else "",
                                str(d.minute)+" min, " if d.minute>0 else "",
                                str(d.second)+" secs")
    return date_str

### Basic GetOldTweets3 function

In [4]:
def get_tweets(query, top_only, start_date, end_date, max_tweets):
   
    # specifying tweet search criteria
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(query)\
                                                .setTopTweets(top_only)\
                                                .setSince(start_date)\
                                                .setUntil(end_date)\
                                                .setMaxTweets(max_tweets)
    
    # scraping tweets based on criteria
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    # creating list of tweets with the tweet attributes specified in the list comprehension
    text_tweets = [[tw.text,
                    tw.date,
                    tw.retweets,
                    tw.favorites,
                    tw.mentions,
                    tw.hashtags] for tw in tweet]
    
    # creating dataframe, assigning column names to list of tweets corresponding to tweet attributes
    tweets_df = pd.DataFrame(text_tweets, 
                            columns = ['Text','Date','Retweets','Favorites','Mentions','HashTags'])
    
    return tweets_df

### Custom scraper function to use with behaviour words

In [20]:
def custom_scraper(behaviour_words,limit_keyword):
    tweets_temp = pd.DataFrame(columns = ['Text','Date','Retweets','Favorites','Mentions','HashTags'])
    total_loop_time = 0
    avg_loop_time = 0
    len_behaviour_words = len(behaviour_words)
    for i,word in enumerate(behaviour_words):
        start = time.time()

        custom_query = "lockdown " + word
        tweet_out = get_tweets(custom_query,
                                top_only = False,
                                start_date = "2020-04-01",
                                end_date = "2020-08-01",
                                max_tweets = limit_keyword)
        tweets_temp = tweets_temp.append(tweet_out, ignore_index=True)

        end = time.time()
        total_loop_time += end-start
        avg_loop_time = total_loop_time/(i+1)
        time_left = (avg_loop_time) * (len_behaviour_words-i)

        out1 = "{} in {}: Query \"{}\" ({:.2f} secs) (Rows: {})".format(i,len_behaviour_words,word,
                                                                        (end-start),len(tweet_out))
        out2 = "ETA: {}".format(time_print(time_left))
        print("{:<80s}{:<35s}".format(out1,out2))

    print("\nTotal query time: {}".format(time_print(total_loop_time)))
    return tweets_temp

###  Base segment contaning basic scrape code (not in use)

In [85]:
# Only including top tweets,
# Between a specific range of dates, with end date not inclusive
# And specifying that we want a max number of tweets in max_tweets.

# The main query word goes here, case insensitive
query = "lockdown"

tweets_df = get_tweets(query,
                        top_only = False,
                        start_date = "2020-04-01",
                        end_date = "2020-08-01",
                        max_tweets = 10)
tweets_df.head(5)

,Text,Date,Retweets,Favorites,Mentions,HashTags
0,"In a world where celebrities are worshiped, I ...",2020-07-31 23:59:57+00:00,0,0,,
1,That weed Nengi stopped blazing truly is putti...,2020-07-31 23:59:56+00:00,0,0,,#bbnaija2020lockdown
2,I truly feel sorry for the United States. Dr F...,2020-07-31 23:59:54+00:00,0,3,,
3,Our half ass lockdown has us already at 150k. ...,2020-07-31 23:59:51+00:00,0,0,,
4,They are this time around as their numbers sta...,2020-07-31 23:59:50+00:00,1,0,,

### Main segment with relevant inputs

In [18]:
activity_words = ["bought","purchased","thinking of","looking for",
"thinking about","want to buy","recommend","suggest","think of"]
# ordered

product_words = ["iphone","android","samsung","nokia","galaxy","redmi","xiaomi",
                "oppo","realme","vivo","oneplus","huawei","honor","motorola"]

with open('behaviour_words.txt', 'w') as f:
    for item in activity_words:
        f.write("%s\n" % item)
    for item in product_words:
        f.write("%s\n" % item)

with open('activity_words.txt', 'w') as f:
    for item in activity_words:
        f.write("%s\n" % item)

with open('product_words.txt', 'w') as f:
    for item in product_words:
        f.write("%s\n" % item)
        
# Behavior words are all permutations of activity and product words
behaviour_words = list(map(" ".join, itertools.product(activity_words,product_words)))

# Tweets for each behaviour words, <1 means all possible tweets
num_tweets_keyword = 15

print("Number of activity words: {}".format(len(activity_words)))
print("Number of product words: {}".format(len(product_words)))
print("Number of permutations: {}".format(len(behaviour_words)))
print("Number of rows to be pulled: {}".format(len(behaviour_words)*num_tweets_keyword) 
      if num_tweets_keyword>0
      else "All possible tweets for each keyword will be pulled")

Number of activity words: 9
Number of product words: 14
Number of permutations: 126
Number of rows to be pulled: 1890

### Pulling tweets for our behaviour words

In [19]:
tweets_df_custom = custom_scraper(behaviour_words,num_tweets_keyword)

0 in 126: Query "bought iphone" (1.87 secs) (Rows: 15)                          ETA: 3 min, 55 secs
1 in 126: Query "bought android" (1.98 secs) (Rows: 15)                         ETA: 4 min, 0 secs
2 in 126: Query "bought samsung" (3.03 secs) (Rows: 15)                         ETA: 4 min, 43 secs
3 in 126: Query "bought nokia" (2.08 secs) (Rows: 15)                           ETA: 4 min, 35 secs
4 in 126: Query "bought galaxy" (2.28 secs) (Rows: 15)                          ETA: 4 min, 33 secs
5 in 126: Query "bought redmi" (1.53 secs) (Rows: 15)                           ETA: 4 min, 17 secs
6 in 126: Query "bought xiaomi" (1.80 secs) (Rows: 15)                          ETA: 4 min, 9 secs
7 in 126: Query "bought oppo" (2.06 secs) (Rows: 15)                            ETA: 4 min, 7 secs
8 in 126: Query "bought realme" (2.17 secs) (Rows: 15)                          ETA: 4 min, 6 secs
9 in 126: Query "bought vivo" (2.50 secs) (Rows: 15)                            ETA: 4 min, 9 secs
10 in 126: Query "bought oneplus" (2.56 secs) (Rows: 15)                        ETA: 4 min, 11 secs
11 in 126: Query "bought huawei" (2.23 secs) (Rows: 15)                         ETA: 4 min, 9 secs
12 in 126: Query "bought honor" (2.09 secs) (Rows: 15)                          ETA: 4 min, 7 secs
13 in 126: Query "bought motorola" (2.16 secs) (Rows: 15)                       ETA: 4 min, 4 secs
14 in 126: Query "purchased iphone" (2.57 secs) (Rows: 15)                      ETA: 4 min, 5 secs
15 in 126: Query "purchased android" (2.14 secs) (Rows: 15)                     ETA: 4 min, 3 secs
16 in 126: Query "purchased samsung" (2.21 secs) (Rows: 15)                     ETA: 4 min, 1 secs
17 in 126: Query "purchased nokia" (2.54 secs) (Rows: 15)                       ETA: 4 min, 1 secs
18 in 126: Query "purchased galaxy" (2.62 secs) (Rows: 15)                      ETA: 4 min, 1 secs
19 in 126: Query "purchased redmi" (2.31 secs) (Rows: 15)                       ETA: 3 min, 59 secs
20 in 126: Query "purchased xiaomi" (2.49 secs) (Rows: 15)                      ETA: 3 min, 58 secs
21 in 126: Query "purchased oppo" (2.35 secs) (Rows: 15)                        ETA: 3 min, 56 secs
22 in 126: Query "purchased realme" (2.52 secs) (Rows: 15)                      ETA: 3 min, 55 secs
23 in 126: Query "purchased vivo" (2.40 secs) (Rows: 15)                        ETA: 3 min, 53 secs
24 in 126: Query "purchased oneplus" (2.06 secs) (Rows: 15)                     ETA: 3 min, 50 secs
25 in 126: Query "purchased huawei" (2.21 secs) (Rows: 15)                      ETA: 3 min, 48 secs
26 in 126: Query "purchased honor" (2.74 secs) (Rows: 15)                       ETA: 3 min, 47 secs
27 in 126: Query "purchased motorola" (2.73 secs) (Rows: 15)                    ETA: 3 min, 47 secs
28 in 126: Query "thinking of iphone" (2.96 secs) (Rows: 15)                    ETA: 3 min, 47 secs
29 in 126: Query "thinking of android" (2.75 secs) (Rows: 15)                   ETA: 3 min, 46 secs
30 in 126: Query "thinking of samsung" (3.27 secs) (Rows: 15)                   ETA: 3 min, 46 secs
31 in 126: Query "thinking of nokia" (3.07 secs) (Rows: 15)                     ETA: 3 min, 46 secs
32 in 126: Query "thinking of galaxy" (2.69 secs) (Rows: 15)                    ETA: 3 min, 44 secs
33 in 126: Query "thinking of redmi" (2.43 secs) (Rows: 15)                     ETA: 3 min, 42 secs
34 in 126: Query "thinking of xiaomi" (2.66 secs) (Rows: 15)                    ETA: 3 min, 40 secs
35 in 126: Query "thinking of oppo" (3.43 secs) (Rows: 15)                      ETA: 3 min, 41 secs
36 in 126: Query "thinking of realme" (1.59 secs) (Rows: 15)                    ETA: 3 min, 36 secs
37 in 126: Query "thinking of vivo" (1.66 secs) (Rows: 15)                      ETA: 3 min, 32 secs
38 in 126: Query "thinking of oneplus" (2.15 secs) (Rows: 15)                   ETA: 3 min, 29 secs
39 in 126: Query "thinking of huawei" (1.74 secs) (Rows: 15)                    ETA: 3 min, 25 secs
40 in 126: Query "thinking of honor" (2.05 secs) (Rows: 15)                     ETA: 3 min, 22 secs
41 in 126: Query "thinking of motorola" (1.58 secs) (Rows: 15)                  ETA: 3 min, 18 secs
42 in 126: Query "looking for iphone" (2.99 secs) (Rows: 15)                    ETA: 3 min, 17 secs
43 in 126: Query "looking for android" (1.82 secs) (Rows: 15)                   ETA: 3 min, 14 secs
44 in 126: Query "looking for samsung" (2.21 secs) (Rows: 15)                   ETA: 3 min, 11 secs
45 in 126: Query "looking for nokia" (2.25 secs) (Rows: 15)                     ETA: 3 min, 9 secs
46 in 126: Query "looking for galaxy" (2.00 secs) (Rows: 15)                    ETA: 3 min, 6 secs
47 in 126: Query "looking for redmi" (1.72 secs) (Rows: 15)                     ETA: 3 min, 3 secs
48 in 126: Query "looking for xiaomi" (1.57 secs) (Rows: 15)                    ETA: 2 min, 59 secs
49 in 126: Query "looking for oppo" (2.15 secs) (Rows: 15)                      ETA: 2 min, 57 secs
50 in 126: Query "looking for realme" (2.73 secs) (Rows: 15)                    ETA: 2 min, 55 secs
51 in 126: Query "looking for vivo" (2.06 secs) (Rows: 15)                      ETA: 2 min, 52 secs
52 in 126: Query "looking for oneplus" (2.17 secs) (Rows: 15)                   ETA: 2 min, 50 secs
53 in 126: Query "looking for huawei" (2.03 secs) (Rows: 15)                    ETA: 2 min, 47 secs
54 in 126: Query "looking for honor" (2.76 secs) (Rows: 15)                     ETA: 2 min, 45 secs
55 in 126: Query "looking for motorola" (2.19 secs) (Rows: 15)                  ETA: 2 min, 43 secs
56 in 126: Query "thinking about iphone" (1.80 secs) (Rows: 15)                 ETA: 2 min, 40 secs
57 in 126: Query "thinking about android" (1.95 secs) (Rows: 15)                ETA: 2 min, 37 secs
58 in 126: Query "thinking about samsung" (1.59 secs) (Rows: 15)                ETA: 2 min, 34 secs
59 in 126: Query "thinking about nokia" (2.21 secs) (Rows: 15)                  ETA: 2 min, 32 secs
60 in 126: Query "thinking about galaxy" (1.93 secs) (Rows: 15)                 ETA: 2 min, 29 secs
61 in 126: Query "thinking about redmi" (1.93 secs) (Rows: 15)                  ETA: 2 min, 27 secs
62 in 126: Query "thinking about xiaomi" (1.64 secs) (Rows: 15)                 ETA: 2 min, 24 secs
63 in 126: Query "thinking about oppo" (1.71 secs) (Rows: 15)                   ETA: 2 min, 21 secs
64 in 126: Query "thinking about realme" (1.74 secs) (Rows: 15)                 ETA: 2 min, 18 secs
65 in 126: Query "thinking about vivo" (1.69 secs) (Rows: 15)                   ETA: 2 min, 15 secs
66 in 126: Query "thinking about oneplus" (2.34 secs) (Rows: 15)                ETA: 2 min, 13 secs
67 in 126: Query "thinking about huawei" (2.07 secs) (Rows: 15)                 ETA: 2 min, 11 secs
68 in 126: Query "thinking about honor" (2.08 secs) (Rows: 15)                  ETA: 2 min, 9 secs
69 in 126: Query "thinking about motorola" (1.85 secs) (Rows: 15)               ETA: 2 min, 6 secs
70 in 126: Query "want to buy iphone" (2.00 secs) (Rows: 15)                    ETA: 2 min, 4 secs

71 in 126: Query "want to buy android" (2.20 secs) (Rows: 15)                   ETA: 2 min, 1 secs
72 in 126: Query "want to buy samsung" (2.24 secs) (Rows: 15)                   ETA: 1 min, 59 secs
73 in 126: Query "want to buy nokia" (1.67 secs) (Rows: 15)                     ETA: 1 min, 57 secs
74 in 126: Query "want to buy galaxy" (2.05 secs) (Rows: 15)                    ETA: 1 min, 54 secs
75 in 126: Query "want to buy redmi" (2.09 secs) (Rows: 15)                     ETA: 1 min, 52 secs
76 in 126: Query "want to buy xiaomi" (4.25 secs) (Rows: 15)                    ETA: 1 min, 51 secs
77 in 126: Query "want to buy oppo" (1.64 secs) (Rows: 15)                      ETA: 1 min, 49 secs
78 in 126: Query "want to buy realme" (1.59 secs) (Rows: 15)                    ETA: 1 min, 46 secs
79 in 126: Query "want to buy vivo" (1.57 secs) (Rows: 15)                      ETA: 1 min, 43 secs
80 in 126: Query "want to buy oneplus" (6.78 secs) (Rows: 15)                   ETA: 1 min, 44 secs
81 in 126: Query "want to buy huawei" (2.92 secs) (Rows: 15)                    ETA: 1 min, 42 secs
82 in 126: Query "want to buy honor" (1.66 secs) (Rows: 15)                     ETA: 1 min, 39 secs
83 in 126: Query "want to buy motorola" (2.90 secs) (Rows: 15)                  ETA: 1 min, 37 secs
84 in 126: Query "recommend iphone" (1.58 secs) (Rows: 15)                      ETA: 1 min, 35 secs
85 in 126: Query "recommend android" (1.75 secs) (Rows: 15)                     ETA: 1 min, 32 secs
86 in 126: Query "recommend samsung" (1.52 secs) (Rows: 15)                     ETA: 1 min, 30 secs
87 in 126: Query "recommend nokia" (1.55 secs) (Rows: 15)                       ETA: 1 min, 27 secs
88 in 126: Query "recommend galaxy" (1.68 secs) (Rows: 15)                      ETA: 1 min, 24 secs
89 in 126: Query "recommend redmi" (1.66 secs) (Rows: 15)                       ETA: 1 min, 22 secs
90 in 126: Query "recommend xiaomi" (2.45 secs) (Rows: 15)                      ETA: 1 min, 20 secs
91 in 126: Query "recommend oppo" (4.64 secs) (Rows: 15)                        ETA: 1 min, 19 secs
92 in 126: Query "recommend realme" (1.73 secs) (Rows: 15)                      ETA: 1 min, 16 secs
93 in 126: Query "recommend vivo" (3.18 secs) (Rows: 15)                        ETA: 1 min, 14 secs
94 in 126: Query "recommend oneplus" (1.66 secs) (Rows: 15)                     ETA: 1 min, 12 secs
95 in 126: Query "recommend huawei" (1.57 secs) (Rows: 15)                      ETA: 1 min, 9 secs
96 in 126: Query "recommend honor" (1.65 secs) (Rows: 15)                       ETA: 1 min, 7 secs
97 in 126: Query "recommend motorola" (1.54 secs) (Rows: 15)                    ETA: 1 min, 4 secs
98 in 126: Query "suggest iphone" (1.69 secs) (Rows: 15)                        ETA: 1 min, 2 secs
99 in 126: Query "suggest android" (3.32 secs) (Rows: 15)                       ETA: 1 min, 0 secs
100 in 126: Query "suggest samsung" (1.63 secs) (Rows: 15)                      ETA: 58 secs
101 in 126: Query "suggest nokia" (1.57 secs) (Rows: 15)                        ETA: 55 secs
102 in 126: Query "suggest galaxy" (1.70 secs) (Rows: 15)                       ETA: 53 secs
103 in 126: Query "suggest redmi" (1.98 secs) (Rows: 15)                        ETA: 51 secs
104 in 126: Query "suggest xiaomi" (1.55 secs) (Rows: 15)                       ETA: 48 secs
105 in 126: Query "suggest oppo" (1.60 secs) (Rows: 15)                         ETA: 46 secs
106 in 126: Query "suggest realme" (1.88 secs) (Rows: 15)                       ETA: 44 secs
107 in 126: Query "suggest vivo" (1.59 secs) (Rows: 15)                         ETA: 41 secs
108 in 126: Query "suggest oneplus" (2.15 secs) (Rows: 15)                      ETA: 39 secs
109 in 126: Query "suggest huawei" (2.22 secs) (Rows: 15)                       ETA: 37 secs
110 in 126: Query "suggest honor" (2.00 secs) (Rows: 15)                        ETA: 35 secs
111 in 126: Query "suggest motorola" (1.72 secs) (Rows: 15)                     ETA: 32 secs
112 in 126: Query "think of iphone" (1.59 secs) (Rows: 15)                      ETA: 30 secs
113 in 126: Query "think of android" (2.00 secs) (Rows: 15)                     ETA: 28 secs
114 in 126: Query "think of samsung" (1.59 secs) (Rows: 15)                     ETA: 26 secs
115 in 126: Query "think of nokia" (1.76 secs) (Rows: 15)                       ETA: 23 secs
116 in 126: Query "think of galaxy" (1.57 secs) (Rows: 15)                      ETA: 21 secs
117 in 126: Query "think of redmi" (1.68 secs) (Rows: 15)                       ETA: 19 secs
118 in 126: Query "think of xiaomi" (1.75 secs) (Rows: 15)                      ETA: 17 secs
119 in 126: Query "think of oppo" (1.68 secs) (Rows: 15)                        ETA: 15 secs
120 in 126: Query "think of realme" (1.87 secs) (Rows: 15)                      ETA: 12 secs
121 in 126: Query "think of vivo" (3.06 secs) (Rows: 15)                        ETA: 10 secs
122 in 126: Query "think of oneplus" (1.70 secs) (Rows: 15)                     ETA: 8 secs
123 in 126: Query "think of huawei" (1.78 secs) (Rows: 15)                      ETA: 6 secs
124 in 126: Query "think of honor" (3.12 secs) (Rows: 15)                       ETA: 4 secs
125 in 126: Query "think of motorola" (2.50 secs) (Rows: 15)                    ETA: 2 secs

Total query time: 4 min, 33 secs

### Tweets Dataframe as output

In [8]:
#Sorting by date
tweets_df_custom = tweets_df_custom.sort_values(by="Date", ascending=True)
print("Number of rows: {}".format(tweets_df_custom.shape[0]))
tweets_df_custom.head()

Number of rows: 1416

,Text,Date,Retweets,Favorites,Mentions,HashTags
629,"@XiaomiIndia @Xiaomi we hve ordered Mi 40"" TV ...",2020-04-01 03:59:59+00:00,0,0,@XiaomiIndia @Xiaomi,
532,@OnlineGpsc I had purchased my online class fr...,2020-04-01 05:48:42+00:00,0,0,@OnlineGpsc,
209,@SamsungIndia @Samsung @amazon Worst experienc...,2020-04-01 06:05:48+00:00,0,0,@SamsungIndia @Samsung @amazon @amazon,
628,"@Xiaomi Mi A2 Packed on 2018, July Purchased O...",2020-04-01 06:27:55+00:00,0,0,@Xiaomi,
688,@flipkartsupport recently just before the coun...,2020-04-01 08:17:43+00:00,0,0,@flipkartsupport,

In [9]:
# Removing duplicate rows
tweets_df_custom = tweets_df_custom.drop_duplicates(subset=["Text"])
print("Number of rows: {}".format(tweets_df_custom.shape[0]))

# tweets_df.to_csv("tweets_raw.csv")
tweets_df_custom.to_csv("tweets_raw.csv")

Number of rows: 1217